body {
  background-color:aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

.intro {
  margin-bottom: 3rem;
}

.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

footer {
  display: flex;
}

div {
  flex: 1;
}

footer > div > img {
  display: block;
  max-width: 100px;
}